# PANDAS

In [84]:
import pandas as pd
import numpy as np

print(np.__version__)

1.19.5

In [85]:
n = np.random.randn(9)*1000
arr = [x for x in "abcdefghi"]
pd.Series(n, index = arr)

a    -566.007681
b    -127.046994
c   -1560.815801
d    -205.292226
e     519.317477
f    -467.112679
g    -136.006125
h    -992.459636
i    1439.713700
dtype: float64

In [86]:
data = {x:[y,y+y,y*y] for x,y in zip(arr,n)}
data

{'a': [-566.0076812537111, -1132.0153625074222, 320364.69523820264],
 'b': [-127.04699448575931, -254.09398897151863, 16140.938807864557],
 'c': [-1560.8158009182891, -3121.6316018365783, 2436145.9643962006],
 'd': [-205.29222644013944, -410.5844528802789, 42144.89823674949],
 'e': [519.3174765683527, 1038.6349531367055, 269690.64146932156],
 'f': [-467.1126787241081, -934.2253574482162, 218194.25462481182],
 'g': [-136.0061246349158, -272.0122492698316, 18497.66593820825],
 'h': [-992.4596357550714, -1984.9192715101428, 984976.128603089],
 'i': [1439.713700436285, 2879.42740087257, 2072775.5392239413]}

In [87]:
df = pd.DataFrame(data)
df

,a,b,c,d,e,f,g,h,i
0,-566.007681,-127.046994,-1.560816e+03,-205.292226,519.317477,-467.112679,-136.006125,-992.459636,1.439714e+03
1,-1132.015363,-254.093989,-3.121632e+03,-410.584453,1038.634953,-934.225357,-272.012249,-1984.919272,2.879427e+03
2,320364.695238,16140.938808,2.436146e+06,42144.898237,269690.641469,218194.254625,18497.665938,984976.128603,2.072776e+06

In [88]:
df.index = arr[:3]
df

,a,b,c,d,e,f,g,h,i
a,-566.007681,-127.046994,-1.560816e+03,-205.292226,519.317477,-467.112679,-136.006125,-992.459636,1.439714e+03
b,-1132.015363,-254.093989,-3.121632e+03,-410.584453,1038.634953,-934.225357,-272.012249,-1984.919272,2.879427e+03
c,320364.695238,16140.938808,2.436146e+06,42144.898237,269690.641469,218194.254625,18497.665938,984976.128603,2.072776e+06

In [89]:
df.drop("b")

,a,b,c,d,e,f,g,h,i
a,-566.007681,-127.046994,-1.560816e+03,-205.292226,519.317477,-467.112679,-136.006125,-992.459636,1.439714e+03
c,320364.695238,16140.938808,2.436146e+06,42144.898237,269690.641469,218194.254625,18497.665938,984976.128603,2.072776e+06

In [95]:
s1 = df["a"]
s2 = df["b"]

In [100]:
s1.add(s2)

a      -693.054676
b     -1386.109351
c    336505.634046
dtype: float64

In [101]:
s1.sub(s2)

a      -438.960687
b      -877.921374
c    304223.756430
dtype: float64

In [102]:
s1.mul(s2)

a    7.190957e+04
b    2.876383e+05
c    5.170987e+09
dtype: float64

In [103]:
s1.div(s2)

a     4.455105
b     4.455105
c    19.847959
dtype: float64

In [104]:
s1.mean()

106222.22406481382

In [105]:
s1.median()

-566.0076812537111

In [106]:
s1.max()

320364.69523820264

In [177]:
s1.min()

-1132.0153625074222

In [178]:
dates = pd.date_range("2021-05-05", periods=8)
dates

DatetimeIndex(['2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [179]:
col = [x for x in "abcdefgh"]
arr1 = np.random.randn(8,8)*1000
dates

DatetimeIndex(['2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [180]:
df1 = pd.DataFrame(arr1, index=dates, columns=col)
df1

,a,b,c,d,e,f,g,h
2021-05-05,-620.954254,-689.088745,-94.366983,657.449380,-371.312545,-809.297131,759.822608,-2434.855274
2021-05-06,993.549898,1844.966383,26.059431,9.727391,1025.279652,-23.885711,-255.592330,1373.966812
2021-05-07,-51.056709,717.278927,-242.857243,211.785725,4.228716,-965.102671,284.493821,-46.301641
2021-05-08,727.044263,285.156579,-713.177005,-1044.630299,-935.217731,381.564427,-855.915402,-1090.191581
2021-05-09,-1386.377833,287.410056,-1413.344377,-337.333178,205.490215,-845.667286,-1217.541280,143.183302
2021-05-10,1970.802502,357.531028,-130.104188,-539.920148,-642.935212,1160.087396,-781.395461,-334.812834
2021-05-11,534.873575,772.885690,777.375924,-682.619648,318.563574,-1164.255893,-752.563553,-1295.863214
2021-05-12,1727.205580,-1299.021860,227.427134,-315.755163,196.088654,1015.715397,-482.288822,737.459466

In [181]:
df1.dtypes

a    float64
b    float64
c    float64
d    float64
e    float64
f    float64
g    float64
h    float64
dtype: object

In [182]:
df1.head()

,a,b,c,d,e,f,g,h
2021-05-05,-620.954254,-689.088745,-94.366983,657.449380,-371.312545,-809.297131,759.822608,-2434.855274
2021-05-06,993.549898,1844.966383,26.059431,9.727391,1025.279652,-23.885711,-255.592330,1373.966812
2021-05-07,-51.056709,717.278927,-242.857243,211.785725,4.228716,-965.102671,284.493821,-46.301641
2021-05-08,727.044263,285.156579,-713.177005,-1044.630299,-935.217731,381.564427,-855.915402,-1090.191581
2021-05-09,-1386.377833,287.410056,-1413.344377,-337.333178,205.490215,-845.667286,-1217.541280,143.183302

In [183]:
df1.tail()

,a,b,c,d,e,f,g,h
2021-05-08,727.044263,285.156579,-713.177005,-1044.630299,-935.217731,381.564427,-855.915402,-1090.191581
2021-05-09,-1386.377833,287.410056,-1413.344377,-337.333178,205.490215,-845.667286,-1217.541280,143.183302
2021-05-10,1970.802502,357.531028,-130.104188,-539.920148,-642.935212,1160.087396,-781.395461,-334.812834
2021-05-11,534.873575,772.885690,777.375924,-682.619648,318.563574,-1164.255893,-752.563553,-1295.863214
2021-05-12,1727.205580,-1299.021860,227.427134,-315.755163,196.088654,1015.715397,-482.288822,737.459466

In [184]:
df1.index

DatetimeIndex(['2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [185]:
df1.columns

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')

In [186]:
df1.values

array([[ -620.95425351,  -689.08874454,   -94.36698281,   657.44938037,
         -371.31254478,  -809.29713095,   759.82260823, -2434.85527375],
       [  993.54989763,  1844.96638277,    26.05943096,     9.72739068,
         1025.27965238,   -23.88571076,  -255.59233   ,  1373.96681195],
       [  -51.05670932,   717.27892705,  -242.85724274,   211.78572458,
            4.22871578,  -965.10267148,   284.4938206 ,   -46.30164117],
       [  727.04426284,   285.15657882,  -713.17700471, -1044.63029908,
         -935.21773118,   381.56442695,  -855.91540228, -1090.1915806 ],
       [-1386.37783302,   287.41005627, -1413.3443768 ,  -337.33317789,
          205.4902145 ,  -845.66728602, -1217.54128016,   143.18330231],
       [ 1970.80250178,   357.531028  ,  -130.10418768,  -539.92014847,
         -642.93521203,  1160.08739606,  -781.39546095,  -334.812834  ],
       [  534.87357494,   772.88569025,   777.37592383,  -682.61964838,
          318.56357418, -1164.25589262,  -752.563553  , -1295.86321442],
       [ 1727.20558   , -1299.02186001,   227.42713362,  -315.75516326,
          196.08865416,  1015.71539726,  -482.28882157,   737.45946609]])