# PANDAS

In [1]:
import pandas as pd
import numpy as np

print(np.__version__)

1.19.5

In [2]:
n = np.random.randn(9)*1000
arr = [x for x in "abcdefghi"]
pd.Series(n, index = arr)

a     752.500159
b    1533.552758
c    -179.190903
d   -1843.943850
e   -1402.050989
f   -1917.220784
g    1464.161751
h   -1100.571866
i     -90.631182
dtype: float64

In [3]:
data = {x:[y,y+y,y*y] for x,y in zip(arr,n)}
data

{'a': [752.5001586876267, 1505.0003173752534, 566256.4888249034],
 'b': [1533.5527583255475, 3067.105516651095, 2351784.0625678953],
 'c': [-179.1909026672567, -358.3818053345134, 32109.379598706262],
 'd': [-1843.9438501829015, -3687.887700365803, 3400128.922627343],
 'e': [-1402.0509888569593, -2804.1019777139186, 1965746.9753547774],
 'f': [-1917.2207836940943, -3834.4415673881886, 3675735.5334285973],
 'g': [1464.1617511543177, 2928.3235023086354, 2143769.633543278],
 'h': [-1100.571866074189, -2201.143732148378, 1211258.4323940228],
 'i': [-90.6311815435839, -181.2623630871678, 8214.011067986065]}

In [4]:
df = pd.DataFrame(data)
df

,a,b,c,d,e,f,g,h,i
0,752.500159,1.533553e+03,-179.190903,-1.843944e+03,-1.402051e+03,-1.917221e+03,1.464162e+03,-1.100572e+03,-90.631182
1,1505.000317,3.067106e+03,-358.381805,-3.687888e+03,-2.804102e+03,-3.834442e+03,2.928324e+03,-2.201144e+03,-181.262363
2,566256.488825,2.351784e+06,32109.379599,3.400129e+06,1.965747e+06,3.675736e+06,2.143770e+06,1.211258e+06,8214.011068

In [5]:
df.index = arr[:3]
df

,a,b,c,d,e,f,g,h,i
a,752.500159,1.533553e+03,-179.190903,-1.843944e+03,-1.402051e+03,-1.917221e+03,1.464162e+03,-1.100572e+03,-90.631182
b,1505.000317,3.067106e+03,-358.381805,-3.687888e+03,-2.804102e+03,-3.834442e+03,2.928324e+03,-2.201144e+03,-181.262363
c,566256.488825,2.351784e+06,32109.379599,3.400129e+06,1.965747e+06,3.675736e+06,2.143770e+06,1.211258e+06,8214.011068

In [6]:
df.drop("b")

,a,b,c,d,e,f,g,h,i
a,752.500159,1.533553e+03,-179.190903,-1.843944e+03,-1.402051e+03,-1.917221e+03,1.464162e+03,-1.100572e+03,-90.631182
c,566256.488825,2.351784e+06,32109.379599,3.400129e+06,1.965747e+06,3.675736e+06,2.143770e+06,1.211258e+06,8214.011068

In [7]:
s1 = df["a"]
s2 = df["b"]

In [8]:
s1.add(s2)

a    2.286053e+03
b    4.572106e+03
c    2.918041e+06
dtype: float64

In [9]:
s1.sub(s2)

a   -7.810526e+02
b   -1.562105e+03
c   -1.785528e+06
dtype: float64

In [10]:
s1.mul(s2)

a    1.153999e+06
b    4.615995e+06
c    1.331713e+12
dtype: float64

In [11]:
s1.div(s2)

a    0.490691
b    0.490691
c    0.240777
dtype: float64

In [12]:
s1.mean()

189504.6631003221

In [13]:
s1.median()

1505.0003173752534

In [14]:
s1.max()

566256.4888249034

In [15]:
s1.min()

752.5001586876267

In [16]:
dates = pd.date_range("2021-05-05", periods=8)
dates

DatetimeIndex(['2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [81]:
col = [x.upper() for x in "abcdefgh"]
arr1 = np.random.randn(8,8)*1000
dates

DatetimeIndex(['2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [82]:
df1 = pd.DataFrame(arr1, index=dates, columns=col)
df1

,A,B,C,D,E,F,G,H
2021-05-05,615.864276,-6.889234,-2082.652924,900.375968,-342.201677,627.437741,-772.510612,19.207663
2021-05-06,-1870.552389,-642.198727,780.425233,-928.352231,-185.389544,-737.671288,2185.801463,728.630107
2021-05-07,-299.805022,-690.230847,-1244.736029,-232.131520,1558.300201,-493.658752,23.020123,-439.971089
2021-05-08,-996.240517,1105.393957,930.841794,653.830139,-792.225131,-271.063312,-15.931304,-164.633024
2021-05-09,-402.247007,-784.156040,204.980991,-43.579281,-1122.971454,1763.223632,-1196.826869,-416.031069
2021-05-10,-917.881822,-1799.740582,1146.071516,-132.918262,1496.371701,-32.628010,-1012.362203,1685.735685
2021-05-11,1475.205659,-349.759543,1232.995950,-1051.939546,-1661.154101,-110.379487,-962.771279,1003.220176
2021-05-12,1322.893231,-502.286400,280.344109,374.653951,-498.188257,-874.750562,2111.939531,262.883366

In [83]:
df1.dtypes

A    float64
B    float64
C    float64
D    float64
E    float64
F    float64
G    float64
H    float64
dtype: object

In [84]:
df1.head()

,A,B,C,D,E,F,G,H
2021-05-05,615.864276,-6.889234,-2082.652924,900.375968,-342.201677,627.437741,-772.510612,19.207663
2021-05-06,-1870.552389,-642.198727,780.425233,-928.352231,-185.389544,-737.671288,2185.801463,728.630107
2021-05-07,-299.805022,-690.230847,-1244.736029,-232.131520,1558.300201,-493.658752,23.020123,-439.971089
2021-05-08,-996.240517,1105.393957,930.841794,653.830139,-792.225131,-271.063312,-15.931304,-164.633024
2021-05-09,-402.247007,-784.156040,204.980991,-43.579281,-1122.971454,1763.223632,-1196.826869,-416.031069

In [85]:
df1.tail()

,A,B,C,D,E,F,G,H
2021-05-08,-996.240517,1105.393957,930.841794,653.830139,-792.225131,-271.063312,-15.931304,-164.633024
2021-05-09,-402.247007,-784.156040,204.980991,-43.579281,-1122.971454,1763.223632,-1196.826869,-416.031069
2021-05-10,-917.881822,-1799.740582,1146.071516,-132.918262,1496.371701,-32.628010,-1012.362203,1685.735685
2021-05-11,1475.205659,-349.759543,1232.995950,-1051.939546,-1661.154101,-110.379487,-962.771279,1003.220176
2021-05-12,1322.893231,-502.286400,280.344109,374.653951,-498.188257,-874.750562,2111.939531,262.883366

In [86]:
df1.index

DatetimeIndex(['2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [87]:
df1.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'], dtype='object')

In [88]:
df1.values

array([[  615.86427567,    -6.88923359, -2082.65292364,   900.3759682 ,
         -342.20167718,   627.43774061,  -772.51061224,    19.20766323],
       [-1870.55238948,  -642.19872686,   780.42523308,  -928.35223065,
         -185.38954418,  -737.67128791,  2185.80146314,   728.63010736],
       [ -299.80502157,  -690.23084689, -1244.7360294 ,  -232.13151988,
         1558.3002014 ,  -493.6587516 ,    23.02012257,  -439.97108943],
       [ -996.24051672,  1105.39395733,   930.84179352,   653.83013898,
         -792.22513102,  -271.06331232,   -15.93130407,  -164.63302407],
       [ -402.24700709,  -784.15603995,   204.98099078,   -43.57928142,
        -1122.9714537 ,  1763.22363201, -1196.82686886,  -416.0310689 ],
       [ -917.88182241, -1799.7405824 ,  1146.07151553,  -132.91826204,
         1496.37170112,   -32.62800967, -1012.36220342,  1685.73568465],
       [ 1475.20565885,  -349.75954272,  1232.99594964, -1051.93954648,
        -1661.15410054,  -110.37948719,  -962.77127916,  1003.22017593],
       [ 1322.89323131,  -502.28639995,   280.34410896,   374.65395136,
         -498.18825656,  -874.75056225,  2111.93953098,   262.88336642]])

In [89]:
df1.describe()[1:2]

,A,B,C,D,E,F,G,H
mean,-134.095449,-458.733427,156.03383,-57.507598,-193.432283,-16.186255,45.044856,334.880227

In [90]:
df1.T

,2021-05-05,2021-05-06,2021-05-07,2021-05-08,2021-05-09,2021-05-10,2021-05-11,2021-05-12
A,615.864276,-1870.552389,-299.805022,-996.240517,-402.247007,-917.881822,1475.205659,1322.893231
B,-6.889234,-642.198727,-690.230847,1105.393957,-784.156040,-1799.740582,-349.759543,-502.286400
C,-2082.652924,780.425233,-1244.736029,930.841794,204.980991,1146.071516,1232.995950,280.344109
D,900.375968,-928.352231,-232.131520,653.830139,-43.579281,-132.918262,-1051.939546,374.653951
E,-342.201677,-185.389544,1558.300201,-792.225131,-1122.971454,1496.371701,-1661.154101,-498.188257
F,627.437741,-737.671288,-493.658752,-271.063312,1763.223632,-32.628010,-110.379487,-874.750562
G,-772.510612,2185.801463,23.020123,-15.931304,-1196.826869,-1012.362203,-962.771279,2111.939531
H,19.207663,728.630107,-439.971089,-164.633024,-416.031069,1685.735685,1003.220176,262.883366

In [93]:
df1.sort_values(by="H")[["A","C","H"]]

                      A            C            H
2021-05-07  -299.805022 -1244.736029  -439.971089
2021-05-09  -402.247007   204.980991  -416.031069
2021-05-08  -996.240517   930.841794  -164.633024
2021-05-05   615.864276 -2082.652924    19.207663
2021-05-12  1322.893231   280.344109   262.883366
2021-05-06 -1870.552389   780.425233   728.630107
2021-05-11  1475.205659  1232.995950  1003.220176
2021-05-10  -917.881822  1146.071516  1685.735685

In [99]:
names = "shravan is a good boy".split()
for x,y in enumerate("abcde"):
  df1.loc["2021-05-08",y.upper()] = names[x]
df2 = df1.copy()

In [100]:
df2.head()

,A,B,C,D,E,F,G,H,a,b,c,d,e
2021-05-05,615.864276,-6.889234,-2082.652924,900.375968,-342.201677,627.437741,-772.510612,19.207663,NaN,NaN,NaN,NaN,NaN
2021-05-06,-1870.552389,-642.198727,780.425233,-928.352231,-185.389544,-737.671288,2185.801463,728.630107,NaN,NaN,NaN,NaN,NaN
2021-05-07,-299.805022,-690.230847,-1244.736029,-232.13152,1558.300201,-493.658752,23.020123,-439.971089,NaN,NaN,NaN,NaN,NaN
2021-05-08,shravan,is,a,good,boy,-271.063312,-15.931304,-164.633024,shravan,is,a,good,boy
2021-05-09,-402.247007,-784.15604,204.980991,-43.579281,-1122.971454,1763.223632,-1196.826869,-416.031069,NaN,NaN,NaN,NaN,NaN

In [101]:
df2.isnull()

,A,B,C,D,E,F,G,H,a,b,c,d,e
2021-05-05,False,False,False,False,False,False,False,False,True,True,True,True,True
2021-05-06,False,False,False,False,False,False,False,False,True,True,True,True,True
2021-05-07,False,False,False,False,False,False,False,False,True,True,True,True,True
2021-05-08,False,False,False,False,False,False,False,False,False,False,False,False,False
2021-05-09,False,False,False,False,False,False,False,False,True,True,True,True,True
2021-05-10,False,False,False,False,False,False,False,False,True,True,True,True,True
2021-05-11,False,False,False,False,False,False,False,False,True,True,True,True,True
2021-05-12,False,False,False,False,False,False,False,False,True,True,True,True,True

In [102]:
df2["F"].sum()

-129.4900383255433

In [103]:
df2.fillna("Shravan")

,A,B,C,D,E,F,G,H,a,b,c,d,e
2021-05-05,615.864276,-6.889234,-2082.652924,900.375968,-342.201677,627.437741,-772.510612,19.207663,Shravan,Shravan,Shravan,Shravan,Shravan
2021-05-06,-1870.552389,-642.198727,780.425233,-928.352231,-185.389544,-737.671288,2185.801463,728.630107,Shravan,Shravan,Shravan,Shravan,Shravan
2021-05-07,-299.805022,-690.230847,-1244.736029,-232.13152,1558.300201,-493.658752,23.020123,-439.971089,Shravan,Shravan,Shravan,Shravan,Shravan
2021-05-08,shravan,is,a,good,boy,-271.063312,-15.931304,-164.633024,shravan,is,a,good,boy
2021-05-09,-402.247007,-784.15604,204.980991,-43.579281,-1122.971454,1763.223632,-1196.826869,-416.031069,Shravan,Shravan,Shravan,Shravan,Shravan
2021-05-10,-917.881822,-1799.740582,1146.071516,-132.918262,1496.371701,-32.628010,-1012.362203,1685.735685,Shravan,Shravan,Shravan,Shravan,Shravan
2021-05-11,1475.205659,-349.759543,1232.99595,-1051.939546,-1661.154101,-110.379487,-962.771279,1003.220176,Shravan,Shravan,Shravan,Shravan,Shravan
2021-05-12,1322.893231,-502.2864,280.344109,374.653951,-498.188257,-874.750562,2111.939531,262.883366,Shravan,Shravan,Shravan,Shravan,Shravan

In [106]:
df2.dropna(how="any")

,A,B,C,D,E,F,G,H,a,b,c,d,e
2021-05-08,shravan,is,a,good,boy,-271.063312,-15.931304,-164.633024,shravan,is,a,good,boy

In [112]:
df1.to_excel("numbers.xlsx")
df1.to_csv("numbers.csv")
df1.to_html("numbers.html")
df1.to_json("numbers.json")

In [113]:
df4 = pd.read_json("numbers.json")
df4

,A,B,C,D,E,F,G,H,a,b,c,d,e
2021-05-05,615.864276,-6.889234,-2082.652924,900.375968,-342.201677,627.437741,-772.510612,19.207663,None,None,None,None,None
2021-05-06,-1870.552389,-642.198727,780.425233,-928.352231,-185.389544,-737.671288,2185.801463,728.630107,None,None,None,None,None
2021-05-07,-299.805022,-690.230847,-1244.736029,-232.13152,1558.300201,-493.658752,23.020123,-439.971089,None,None,None,None,None
2021-05-08,shravan,is,a,good,boy,-271.063312,-15.931304,-164.633024,shravan,is,a,good,boy
2021-05-09,-402.247007,-784.15604,204.980991,-43.579281,-1122.971454,1763.223632,-1196.826869,-416.031069,None,None,None,None,None
2021-05-10,-917.881822,-1799.740582,1146.071516,-132.918262,1496.371701,-32.628010,-1012.362203,1685.735685,None,None,None,None,None
2021-05-11,1475.205659,-349.759543,1232.99595,-1051.939546,-1661.154101,-110.379487,-962.771279,1003.220176,None,None,None,None,None
2021-05-12,1322.893231,-502.2864,280.344109,374.653951,-498.188257,-874.750562,2111.939531,262.883366,None,None,None,None,None