In [321]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

from urllib.request import urlopen
from bs4 import BeautifulSoup as BS
import re

In [322]:
website = 'https://www.hubertiming.com/results/2018MLK'
html = urlopen(website)

In [323]:
soup = BS(html)

In [324]:
title = soup.title
title.text

'Race results for the 2018 MLK Dream Run!'

In [325]:
links = soup.find_all('a', href=True)
for x in links:
  print(x['href'])

https://www.mlkdreamrun.com/
mailto:timing@hubertiming.com
https://www.hubertiming.com/
/results/2018MLK10K#individual
/results/2018MLK15K#individual
/results/summary/2018MLK
#tabs-1
https://www.hubertiming.com/
https://facebook.com/hubertiming/

In [326]:
tr = soup.find_all("tr")

rows_tr = [[x.text.strip('\n')] for x in tr]
rows = [i.split("\n") for x in rows_tr[4:] for i in x]

column_labels = rows[0]
column_labels

['Place',
 'Bib',
 'Name',
 'Gender',
 'Age',
 'City',
 'State',
 'Chip Time',
 'Chip Pace',
 'Gender Place',
 'Age Group',
 'Age Group Place',
 'Time to Start',
 'Gun Time']

In [330]:
data = []
for x in rows[1:]:
  i = [y.strip() for y in x if y != "\r" and y!= " "]
  data.append(i)
data[0]

['1',
 '1191',
 'MAX RANDOLPH',
 '',
 'M',
 '29',
 'WASHINGTON',
 'DC',
 '16:48',
 '5:25',
 '1 of 78',
 '',
 'M 21-39',
 '1 of 33',
 '',
 '0:08',
 '16:56']

In [328]:
print(column_labels)

df = pd.DataFrame(data)
df.replace("", float("NaN"), inplace=True)
df.dropna(how='all', axis=1, inplace=True)
df.columns = column_labels
df.head()

['Place', 'Bib', 'Name', 'Gender', 'Age', 'City', 'State', 'Chip Time', 'Chip Pace', 'Gender Place', 'Age Group', 'Age Group Place', 'Time to Start', 'Gun Time']

,Place,Bib,Name,Gender,Age,City,State,Chip Time,Chip Pace,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time
0,1,1191,MAX RANDOLPH,M,29,WASHINGTON,DC,16:48,5:25,1 of 78,M 21-39,1 of 33,0:08,16:56
1,2,1080,NEED NAME KAISER RUNNER,M,25,PORTLAND,OR,17:31,5:39,2 of 78,M 21-39,2 of 33,0:09,17:40
2,3,1275,DAN FRANEK,M,52,PORTLAND,OR,18:15,5:53,3 of 78,M 40-54,1 of 27,0:07,18:22
3,4,1223,PAUL TAYLOR,M,54,PORTLAND,OR,18:31,5:58,4 of 78,M 40-54,2 of 27,0:07,18:38
4,5,1245,THEO KINMAN,M,22,NaN,NaN,19:31,6:17,5 of 78,M 21-39,3 of 33,0:09,19:40

In [352]:
df2 = df.copy()
df2["Age Group"] = df2["Age Group"].map(lambda x : str(x)[1:])
df2.head()

,Place,Bib,Name,Gender,Age,City,State,Chip Time,Chip Pace,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time
0,1,1191,MAX RANDOLPH,M,29,WASHINGTON,DC,16:48,5:25,1 of 78,21-39,1 of 33,0:08,16:56
1,2,1080,NEED NAME KAISER RUNNER,M,25,PORTLAND,OR,17:31,5:39,2 of 78,21-39,2 of 33,0:09,17:40
2,3,1275,DAN FRANEK,M,52,PORTLAND,OR,18:15,5:53,3 of 78,40-54,1 of 27,0:07,18:22
3,4,1223,PAUL TAYLOR,M,54,PORTLAND,OR,18:31,5:58,4 of 78,40-54,2 of 27,0:07,18:38
4,5,1245,THEO KINMAN,M,22,NaN,NaN,19:31,6:17,5 of 78,21-39,3 of 33,0:09,19:40