In [471]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

from urllib.request import urlopen
from bs4 import BeautifulSoup as BS
import re

In [472]:
website = 'https://www.hubertiming.com/results/2018MLK'
html = urlopen(website)

In [473]:
soup = BS(html)

In [474]:
title = soup.title
title.text

'Race results for the 2018 MLK Dream Run!'

In [475]:
links = soup.find_all('a', href=True)
for x in links:
  print(x['href'])

https://www.mlkdreamrun.com/
mailto:timing@hubertiming.com
https://www.hubertiming.com/
/results/2018MLK10K#individual
/results/2018MLK15K#individual
/results/summary/2018MLK
#tabs-1
https://www.hubertiming.com/
https://facebook.com/hubertiming/

In [476]:
tr = soup.find_all("tr")

rows_tr = [[x.text.strip('\n')] for x in tr]
rows = [i.split("\n") for x in rows_tr[4:] for i in x]

column_labels = rows[0]
column_labels

['Place',
 'Bib',
 'Name',
 'Gender',
 'Age',
 'City',
 'State',
 'Chip Time',
 'Chip Pace',
 'Gender Place',
 'Age Group',
 'Age Group Place',
 'Time to Start',
 'Gun Time']

In [477]:
print(column_labels)

df = pd.DataFrame(data)
df.replace("", float("NaN"), inplace=True)
df.dropna(how='all', axis=1, inplace=True)
df.columns = column_labels
df.head()

['Place', 'Bib', 'Name', 'Gender', 'Age', 'City', 'State', 'Chip Time', 'Chip Pace', 'Gender Place', 'Age Group', 'Age Group Place', 'Time to Start', 'Gun Time']

,Place,Bib,Name,Gender,Age,City,State,Chip Time,Chip Pace,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time
0,1,1191,MAX RANDOLPH,M,29,WASHINGTON,DC,16:48,5:25,1 of 78,M 21-39,1 of 33,0:08,16:56
1,2,1080,NEED NAME KAISER RUNNER,M,25,PORTLAND,OR,17:31,5:39,2 of 78,M 21-39,2 of 33,0:09,17:40
2,3,1275,DAN FRANEK,M,52,PORTLAND,OR,18:15,5:53,3 of 78,M 40-54,1 of 27,0:07,18:22
3,4,1223,PAUL TAYLOR,M,54,PORTLAND,OR,18:31,5:58,4 of 78,M 40-54,2 of 27,0:07,18:38
4,5,1245,THEO KINMAN,M,22,NaN,NaN,19:31,6:17,5 of 78,M 21-39,3 of 33,0:09,19:40

In [478]:
df2 = df.copy()

def age_group(x):
  if str(x) == "nan":
    return "NaN"
  else:
    return str(x)[1:]

df2["Age Group"] = df2["Age Group"].map(lambda x : age_group(x))
df2.head(10)

,Place,Bib,Name,Gender,Age,City,State,Chip Time,Chip Pace,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time
0,1,1191,MAX RANDOLPH,M,29,WASHINGTON,DC,16:48,5:25,1 of 78,21-39,1 of 33,0:08,16:56
1,2,1080,NEED NAME KAISER RUNNER,M,25,PORTLAND,OR,17:31,5:39,2 of 78,21-39,2 of 33,0:09,17:40
2,3,1275,DAN FRANEK,M,52,PORTLAND,OR,18:15,5:53,3 of 78,40-54,1 of 27,0:07,18:22
3,4,1223,PAUL TAYLOR,M,54,PORTLAND,OR,18:31,5:58,4 of 78,40-54,2 of 27,0:07,18:38
4,5,1245,THEO KINMAN,M,22,NaN,NaN,19:31,6:17,5 of 78,21-39,3 of 33,0:09,19:40
5,6,1185,MELISSA GIRGIS,F,27,PORTLAND,OR,19:39,6:20,1 of 113,21-39,1 of 53,0:07,19:46
6,7,1251,CHARLIE COGGESHALL,M,39,PORTLAND,OR,19:51,6:24,6 of 78,21-39,4 of 33,0:10,20:01
7,8,1154,UNKNOWN RUNNER SEE TIMER,M,NaN,NaN,NaN,24:58,8:03,7 of 78,NaN,1 of 9,2:00,26:58
8,9,1163,UNKNOWN RUNNER SEE TIMER,M,NaN,NaN,NaN,25:01,8:04,8 of 78,NaN,2 of 9,1:59,27:00
9,10,1242,KIMONTI WILSON,F,48,NaN,NaN,25:01,8:04,2 of 113,40-54,1 of 37,1:59,27:00

In [479]:
df2["Age"].replace(float("NaN"),0, inplace=True)
df2

,Place,Bib,Name,Gender,Age,City,State,Chip Time,Chip Pace,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time
0,1,1191,MAX RANDOLPH,M,29,WASHINGTON,DC,16:48,5:25,1 of 78,21-39,1 of 33,0:08,16:56
1,2,1080,NEED NAME KAISER RUNNER,M,25,PORTLAND,OR,17:31,5:39,2 of 78,21-39,2 of 33,0:09,17:40
2,3,1275,DAN FRANEK,M,52,PORTLAND,OR,18:15,5:53,3 of 78,40-54,1 of 27,0:07,18:22
3,4,1223,PAUL TAYLOR,M,54,PORTLAND,OR,18:31,5:58,4 of 78,40-54,2 of 27,0:07,18:38
4,5,1245,THEO KINMAN,M,22,NaN,NaN,19:31,6:17,5 of 78,21-39,3 of 33,0:09,19:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,187,1254,CYNTHIA HARRIS,F,64,PORTLAND,OR,1:07:51,21:53,110 of 113,55+,14 of 14,1:19,1:09:10
187,188,1085,EBONY LAWRENCE,F,30,PORTLAND,OR,1:08:12,22:00,111 of 113,21-39,53 of 53,0:58,1:09:10
188,189,1170,ANTHONY WILLIAMS,M,39,PORTLAND,OR,1:09:11,22:19,78 of 78,21-39,33 of 33,0:08,1:09:19
189,190,2087,LEESHA POSEY,F,43,PORTLAND,OR,1:33:53,30:17,112 of 113,40-54,36 of 37,0:00,1:33:53
190,191,1216,ZULMA OCHOA,F,40,GRESHAM,OR,1:43:27,33:22,113 of 113,40-54,37 of 37,0:00,1:43:27

In [480]:

df2.head(10)

,Place,Bib,Name,Gender,Age,City,State,Chip Time,Chip Pace,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time
0,1,1191,MAX RANDOLPH,M,29,WASHINGTON,DC,16:48,5:25,1 of 78,21-39,1 of 33,0:08,16:56
1,2,1080,NEED NAME KAISER RUNNER,M,25,PORTLAND,OR,17:31,5:39,2 of 78,21-39,2 of 33,0:09,17:40
2,3,1275,DAN FRANEK,M,52,PORTLAND,OR,18:15,5:53,3 of 78,40-54,1 of 27,0:07,18:22
3,4,1223,PAUL TAYLOR,M,54,PORTLAND,OR,18:31,5:58,4 of 78,40-54,2 of 27,0:07,18:38
4,5,1245,THEO KINMAN,M,22,NaN,NaN,19:31,6:17,5 of 78,21-39,3 of 33,0:09,19:40
5,6,1185,MELISSA GIRGIS,F,27,PORTLAND,OR,19:39,6:20,1 of 113,21-39,1 of 53,0:07,19:46
6,7,1251,CHARLIE COGGESHALL,M,39,PORTLAND,OR,19:51,6:24,6 of 78,21-39,4 of 33,0:10,20:01
7,8,1154,UNKNOWN RUNNER SEE TIMER,M,0,NaN,NaN,24:58,8:03,7 of 78,NaN,1 of 9,2:00,26:58
8,9,1163,UNKNOWN RUNNER SEE TIMER,M,0,NaN,NaN,25:01,8:04,8 of 78,NaN,2 of 9,1:59,27:00
9,10,1242,KIMONTI WILSON,F,48,NaN,NaN,25:01,8:04,2 of 113,40-54,1 of 37,1:59,27:00